<!DOCTYPE html>
<title>The Smart Generation</title>
<head>
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  
    <main>
        <!-- navigation bar -->
        <nav class="menu">
            <h1>The Smart Generation</h1>
            <div class="search">
              <i class='bx bx-search-alt'></i>
              <input type="text" placeholder="Quick Search" id="searchItem">
            </div>
            <ul>
              
              <li><a href="#"> <i class='bx bx-home-circle'></i> Home</a></li>
              <li><a href="#"> <i class='bx bxs-user-account' ></i> Profile </a></li>
              <li><a href="#"> <i class='bx bxs-hot' ></i> Trending </a></li>
              <li><a href="#"> <i class='bx bxl-deezer' ></i> Music </a></li>
              <li><a href="#"> <i class='bx bxs-videos'></i> Video</a></li>
              <li><a href="#"> <i class='bx bx-cog'></i>Settings </a></li>
            </ul>
          </nav>

        <section class="mainCenterDlassyHome">
          <div class="musicList">
            <h1>Latest music</h1>
            <ul>
              <li>Now by khano P</li>
              <li>Late by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Late by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Late by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Late by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Late by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Late by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Late by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Late by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
              <li>Now by khano P</li>
        
            </ul>
          </div>
          <div class="playArea">
            <audio class="currentSong" controls>
              <source src="../music/testingSong.m4a">
            </audio>

          </div>
        </section>

        <!-- advertising part -->
        <div class="advert">
           <!-- <h1>The Adverts</h1> -->
           <video class="adVid" autoplay muted loop>
            <source src="../images/adVideo.mp4" type="video/ogg" >
          </video>
          <img src="../images/webimgad.jpg" alt="" class="adImg">
          <video class="adVid" autoplay muted loop>
            <source src="../images/adVideo.mp4" type="video/ogg" >
          </video>
          <img src="../images/webimgad.jpg" alt="" class="adImg">
          <video class="adVid" autoplay muted loop>
            <source src="../images/adVideo.mp4" type="video/ogg" >
          </video>
          <img src="../images/webimgad.jpg" alt="" class="adImg">
          <video class="adVid" autoplay muted loop>
            <source src="../images/adVideo.mp4" type="video/ogg" >
          </video>
          <img src="../images/webimgad.jpg" alt="" class="adImg">
          <video class="adVid" autoplay muted loop>
            <source src="../images/adVideo.mp4" type="video/ogg" >
          </video>
          <img src="../images/webimgad.jpg" alt="" class="adImg">
          <video class="adVid" autoplay muted loop>
            <source src="../images/adVideo.mp4" type="video/ogg" >
          </video>
          <img src="../images/webimgad.jpg" alt="" class="adImg">
          <video class="adVid" autoplay muted loop>
            <source src="../images/adVideo.mp4" type="video/ogg" >
          </video>
          <img src="../images/webimgad.jpg" alt="" class="adImg">
          <video class="adVid" autoplay muted loop>
            <source src="../images/adVideo.mp4" type="video/ogg" >
          </video>
          <img src="../images/webimgad.jpg" alt="" class="adImg">
       
        </div>
    </main>
    
</body>

</html>
