<!DOCTYPE html>
<title>The Smart Generation</title>
<head>
    <link rel="stylesheet" href="../css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  
    <main>
      <nav class="menu">
        <h1>The Smart Generation</h1>
        <div class="search">
          <i class='bx bx-search-alt'></i>
          <input type="text" placeholder="Quick Search" id="searchItem">
        </div>
        <ul>
          
          <li><a href="#"> 
            <i class='bx bx-home-circle'></i>
             Home</a>
            </li>
          <li><a href="#"> <i class='bx bxs-user-account' ></i> Profile </a></li>
          <li><a href="#"> <i class='bx bxs-hot' ></i> Trending </a></li>
          <li><a href="#"> <i class='bx bxl-deezer' ></i> Music </a></li>
          <li><a href="#"> <i class='bx bxs-videos'></i> Video</a></li>
          <li><a href="#"> <i class='bx bx-cog'></i>Settings </a></li>
        </ul>
      </nav>
        <section class="mainCenterDlassy">
            <div class="toggleButtonBox">
              <div id="toggleBtn" ></div>
              <button type="button" class="toggleButton" onclick="login()">Login</button>
              <button type="button"  class="toggleButton" onclick="register()">Register</button>
            </div>
            
            <form id="login" action="">
                <div class="signForm">
                      <div class="inputField">
                        <input type="email" placeholder="Email" id="email">
                      </div>

                      <div class="inputField">
                        <input type="password" placeholder="Password" id="password">
                      </div>
                      <div class="button">
                        <input type="submit" id="singinButton" value="Sign in" onclick="goToHome()">
                      </div>
                      <!-- <div class="button">
                        <input type="submit" id="registerButton" value="Register">
                      </div> -->
                      <div class="separate">
                        <hr class="left"/>Sign in with<hr class="right" />
                      </div>
                      
                      <!-- <hr class="dividingLine" data-content="Sing in with"> -->
                      
                      <div class="socialMediaIcons">
                        
                        <img src="../images/google-100.svg" alt="google">
                        <img src="../images/facebook-182.svg" alt="facebook">
                        <img src="../images/instagram-48.svg" alt="instagram">
                        <img src="../images/twitter-203.svg" alt="twitter">
                      </div>


                      <script>
                        var toggle = document.getElementById("toggleBtn")
                        var sign = document.getElementById("singinButton");

                        function register(){
                            toggleBtn.style.left = "50%";
                            console.log('Register');
                        }
                        function login(){
                            toggle.style.left = "0px";
                            console.log('Login');
                        }
                        function goToHome(){
                          console.log("Clicked");
                        }
                      </script>
                </div>
            </form>

        </section>
        <div class="advert">
          <!-- <h1>The Adverts</h1> -->
          <video class="adVid" autoplay muted loop>
            <source src="../images/adVideo.mp4" type="video/ogg" >
          </video>
          <img src="../images/webimgad.jpg" alt="" class="adImg">
          <video class="adVid" autoplay muted loop>
            <source src="../images/adVideo.mp4" type="video/ogg" >
          </video>
          <img src="../images/webimgad.jpg" alt="" class="adImg">
          <video class="adVid" autoplay muted loop>
            <source src="../images/adVideo.mp4" type="video/ogg" >
          </video>
          <img src="../images/webimgad.jpg" alt="" class="adImg">
          <video class="adVid" autoplay muted loop>
            <source src="../images/adVideo.mp4" type="video/ogg" >
          </video>
          <img src="../images/webimgad.jpg" alt="" class="adImg">
          <video class="adVid" autoplay muted loop>
            <source src="../images/adVideo.mp4" type="video/ogg" >
          </video>
          <img src="../images/webimgad.jpg" alt="" class="adImg">
          <video class="adVid" autoplay muted loop>
            <source src="../images/adVideo.mp4" type="video/ogg" >
          </video>
          <img src="../images/webimgad.jpg" alt="" class="adImg">
          <video class="adVid" autoplay muted loop>
            <source src="../images/adVideo.mp4" type="video/ogg" >
          </video>
          <img src="../images/webimgad.jpg" alt="" class="adImg">
          <video class="adVid" autoplay muted loop>
            <source src="../images/adVideo.mp4" type="video/ogg" >
          </video>
          <img src="../images/webimgad.jpg" alt="" class="adImg">
       
          

        </div>
    </main>
    
</body>

</html>
